/*
General styling to affect all the elements
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url("./assets/Norse-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    display: flex;
    flex-direction: row;
}
/*
Start with specific styling
Left side
*/
header {
    width: 40%;
    background-image: url("./assets/halie-west-main-back-image.jpg");
    background-size: cover;
}
header > section {
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 10px;
}
header > section > img {
    width: auto;
    height: 100px;
} 

header > section > p {
    font-family: 'Norse-Bold', 'Times New Roman', Times, serif;
    font-size: 5rem;
}
header > section + p {
    position: absolute;
    bottom: 0;
    left: 13%;
    font-size: .8rem;
    color: #FFFFFF;
}
/*
Start with right side
*/
main {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    background-color: #F5F5F5;
}
main > div {
    height: 80%;
}
main > div > section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60%;
    padding: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'roboto';
}
main > div > section:nth-child(2) {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #FFFFFF;
}
main > div > section > h1 {
    font-size: 1.2rem;
}
form {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    text-wrap: nowrap;
}
.formItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: .7rem;
    width: 50%;
    font-weight: 400;
}
button {
    background-color: #596D48;
    color: #FFF;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
}
div > section > p:last-child {
    font-size: .8rem;
    margin-top: 30px;
}