/*
General styling to affect all the elements
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
@font-face {
  font-family: "Norse-Bold";
  src: url("./assets/Norse-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  display: flex;
  flex-direction: row;
}
/*
Start with specific styling
Left side
*/
header {
  width: 40%;
  background-image: url("./assets/halie-west-main-back-image.jpg");
  background-size: cover;
}
header > div {
  margin-top: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 10px;
}
header > div > img {
  width: auto;
  height: 100px;
}

header > div > p {
  font-family: "Norse-Bold", "Times New Roman", Times, serif;
  font-size: 5rem;
}
header > div + p {
  position: absolute;
  bottom: 0;
  left: 13%;
  font-size: 0.8rem;
  color: #ffffff;
}
/*
Start with right side
*/
main {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  background-color: #f5f5f5;
}
main > div {
  height: 80%;
}
main > div > section,
main > div > div {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 60%;
  padding: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "roboto";
}
main > div > section:nth-child(2) {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
main > div > section > h1 {
  font-size: 1.2rem;
}
form {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  text-wrap: nowrap;
}
.formItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.7rem;
  width: 50%;
  font-weight: 400;
}
input {
  border: rgba(0, 0, 0, 0.3) 0.5px solid;
  color: black;
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
}
button {
  background-color: #596d48;
  color: #fff;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
}
div > div > p:last-child {
  font-size: 0.8rem;
  margin-top: 30px;
}
a {
  text-decoration: none;
  color: #596d48;
}
#password:invalid,
#confirmPassword:invalid {
  border: 2px red solid;
}
#password:valid,
#confirmPassword:valid {
  border: 2px green solid;
}
input:focus {
  border: 2px purple solid;
  outline: none;
}
