html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url("./assets/Norse-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    display: flex;
    flex-direction: row;
}
header {
    width: 40%;
    background-image: url("./assets/halie-west-main-back-image.jpg");
    background-size: cover;
}
header > section {
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 10px;
}
header > section > img {
    width: auto;
    height: 100px;
} 

header > section > p {
    font-family: 'Norse-Bold', 'Times New Roman', Times, serif;
    font-size: 5rem;
}
.credits {
    position: absolute;
    bottom: 0;
    left: 10%;
    font-size: 1.0rem;
    color: #FFFFFF;
}