/*
General styling to affect all the elements
*/
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url("./assets/Norse-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    display: flex;
    flex-direction: row;
}
/*
Start with specific styling
Left side
*/
header {
    width: 40%;
    background-image: url("./assets/halie-west-main-back-image.jpg");
    background-size: cover;
}
header > section {
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 10px;
}
header > section > img {
    width: auto;
    height: 100px;
} 

header > section > p {
    font-family: 'Norse-Bold', 'Times New Roman', Times, serif;
    font-size: 5rem;
}
header > section + p {
    position: absolute;
    bottom: 0;
    left: 13%;
    font-size: .8rem;
    color: #FFFFFF;
}
/*
Start with right side
*/
main {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main > div {
    height: 90%;
    border: 1px red solid;
}
main > div > section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60%;
    padding: 40px;
    font-size: 1.1rem;
    font-weight: bold;
}